
@{
    ViewData["Title"] = "Search";
}

<div class="row justify-content-md-center">
    <div class="col-md-9">
        <form method="get">
            <div class="input-group mb-5">
                <input type="text" class="form-control" placeholder="Search for plugins" aria-label="Search for plugins" name="query" />
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Search" />
                </div>
            </div>
        </form>
    </div>
</div>

<h3 class="text-muted mb-4">Search result for: {query}</h3>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="#">Filesystem</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">creator: <a href="#">trembon</a></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="m-0 text-muted">latest version: v1.0.1, last update: 2018-10-18, downloads: 12345, links: <a href="#" class="card-link">GitHub</a></p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="#">Filesystem</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">creator: <a href="#">trembon</a></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="m-0 text-muted">latest version: v1.0.1, last update: 2018-10-18, downloads: 12345, links: <a href="#" class="card-link">GitHub</a></p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="#">Filesystem</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">creator: <a href="#">trembon</a></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="m-0 text-muted">latest version: v1.0.1, last update: 2018-10-18, downloads: 12345, links: <a href="#" class="card-link">GitHub</a></p>
    </div>
</div>
